<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Klassendetails (Lehreransicht)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="top-buttons">
        <a href="/teacher_dashboard" class="button">Dashboard</a>
    </div>
    
    <h1>{{ class_info['class_name'] }}</h1>
    <h2>Fach: {{ class_info['subject'] }}</h2>
    <h3>Lehrer: {{ class_info['teacher_name'] }}</h3>

    <h3>Schüler in dieser Klasse:</h3>
    <ul class="student-list">
        {% for student in students %}
            <li>{{ student['name'] }} (Skill Level: {{ student['skill_level'] }})</li>
        {% endfor %}
    </ul>

    <h3>Hausaufgaben:</h3>
    <ul class="homework-list">
        {% for homework in homework_list %}
            <li>
                <a href="{{ url_for('view_homework_teacher', homework_id=homework['id'], class_id=class_info['id'], teacher_id=teacher_id) }}">
                    {{ homework['description'] }} (Erstellt am: {{ homework['date_created'] }})
                </a>
            </li>
        {% endfor %}
    </ul>

    <!-- Formular für neue Hausaufgabe -->
    <h3>Neue Hausaufgabe erstellen</h3>
    <form action="/create_homework" method="post">
        <input type="hidden" name="class_id" value="{{ class_info['id'] }}">
        <input type="hidden" name="teacher_id" value="{{ teacher_id }}">
        <label for="title">Titel:</label>
        <input type="text" id="title" name="title" required>
        <label for="description">Beschreibung:</label>
        <textarea id="description" name="description" required></textarea>
        <button type="submit">Hausaufgabe erstellen</button>
    </form>
    



    <form action="/delete_class" method="post" onsubmit="return confirm('Möchten Sie diesen Kurs wirklich löschen? Alle zugehörigen Daten werden entfernt.')">
        <input type="hidden" name="class_id" value="{{ class_info['id'] }}">
        <input type="hidden" name="teacher_id" value="{{ teacher_id }}">
        <button type="submit" class="submit-button danger">Kurs löschen</button>
    </form>
    
</body>
</html>