<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Klassendetails (Schüleransicht)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="top-buttons">
        <a href="/student_dashboard" class="button">Dashboard</a>
    </div>
    
    <h1>{{ class_info['class_name'] }}</h1>
    <h2>Fach: {{ class_info['subject'] }}</h2>
    <h3>Lehrer: {{ class_info['teacher_name'] }}</h3>

    <h3>Ihre Informationen:</h3>
    <ul class="info-list">
        <li>Name: {{ student['name'] }}</li>
        <li>Skill Level: {{ student['skill_level'] }}</li>
    </ul>

    <h3>Hausaufgaben</h3>
    <ul class="class-list">
        {% for homework in homework_list %}
            <li>
                <a href="/homework/{{ homework['id'] }}/{{ student_id }}"> 
                    {{ homework['title'] }} (Erstellt am: {{ homework['date_created'] }})</a>
                </li>
        {% endfor %}
    </ul>



    <!-- Button zum Verlassen der Klasse -->
    <form action="/leave_class" method="post">
        <input type="hidden" name="student_id" value="{{ student_id }}">
        <input type="hidden" name="class_id" value="{{ class_info['id'] }}">
        <button type="submit" class="submit-button danger">Kurs verlassen</button>
    </form>
</body>
</html>
